body{
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.navbar{
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #ffffffeb;
}

.pop {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rob {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.flexi{
  display: flex;
  align-items: center;
  justify-content: center;
}




/* navbar styles */


.navbar-toggler{
  border: none;

}

.navbar-toggler:focus , .btn-close:focus{
  box-shadow: none;
  outline: none;
}


*{

      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;

    
}

#wav{
  position:absolute;
  top: 0px;
  left: 0%;
  z-index: -3;
}

.wrapper{
  z-index: 1;
}

.cl{
  color: #6C22A6;
}
.w100{
  height: 100vh;
}
.wrapper p{
    color: #6C22A6;
    opacity: 0.5;
   
   
}



  /* hero styles------------------------------------ */


.btn-dark{
   background-color: #6C22A6;
   border-radius: 120px;
}
.btn-outline-dark:hover{
  border-radius: 10px !important;
   outline:  #6C22A6 !important;
   background-color: #6C22A6;
   color: aliceblue;
}


body{
  background-image: linear-gradient(to left top, #ffffff, #f5eeff, #f1dcff, #f2c8fa, #f6b2f0);
}



.nav-link{
  margin: 0px 10px 0px 10px;
}




.bg4{
  background-color: #ede9e9;
  padding: 50px;
}



.sbg{
  background-image: url('https://img.freepik.com/free-vector/elegant-gradient-violet-wavy-net-background_23-2148402778.jpg?w=740&t=st=1707729442~exp=1707730042~hmac=e26e63c2050c11fd0e4dbdab81ed47e4fdb65271a07d199d498ab6af6dcb0acb');
  background-size: cover;
}

.card{
  position: relative;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  cursor: pointer;
}

.vicon{
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 30px;


  color: #ffffff;
  opacity: 0;
  
}

.card:hover .vicon {
  opacity: 1;
}

.card:hover .card-img-top {
  filter: brightness(70%); /* Adjust the percentage as needed */
}

a{
  text-decoration: none;
}

.card{
  outline: none;
  border: none;
  background-color: #f7f7f7;
}
 