.navbar-toggler{
    border: none;

}

.navbar-toggler:focus , .btn-close:focus{
    box-shadow: none;
    outline: none;
}


*{
 
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;

      
}

#wav{
    position:sticky;
    top: 0px;
    left: 0%;
    z-index: -3;
}

.wrapper{
    z-index: 1;
}





  .badge
  {
    margin: 5px;
  }



   
  .Skill{
    height: 70vh;
    display: flex;
    align-items: center;
      
  }
.skillwrapper{
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.skillwrapper h3  {
   display: inline;
   
}

.badge-primary{
    background-color: rgb(123, 102, 135) !important;
    cursor: pointer;
}

.badge:hover{
    box-shadow: 0px 0px 2px black;
}
 .bg-secondary{
    border-radius: 5px;
   
}






.contact{
   background-color:#e8cff8 ;
}


.contact{
    position: relative;
}
.contact h1{
 position: relative;
   z-index: 1;
}

.Msg-card{
    position: absolute;
    border-top-left-radius: 260px;
    border-bottom-left-radius: 260px;
    display: flex;
    
    align-items: center;
    position:absolute;
    right: 0px;
    top: 0px;
    justify-content: center;
    height: 50vh;
    background-color: rgb(255, 255, 255);

  
}

.w110{
    height: 50vh;
}

.label{
    font-size: 23px;
}






